
body {
    font-family: Arial, sans-serif;
    background-color: #FDFABA; 
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    color: #FDFABA;
    font-weight: bold;
  }
  
  h2 {
    color: #12372A; 
  }
  
  
  form {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #12372A, #436850); 
    color: #fff; 
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #fff;
    color: #333;
  }
  
  input[type="number"] {
    text-align: center;
  }
  
  button {
    background-color: #436850;
    color: white;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-style: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    margin-top: 10px;
  
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #f5cc53;
    color: #436850;
  }
  
  .error {
    color: #e74c3c;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }
  
  .result {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    text-align: center;
    background: linear-gradient(to right, #12372A, #436850); 
    color: #fff;
  }
  
  .result p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FDFABA; 
  }